click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.1
MarkupSafe==1.1.1
numpy
pandas==1.0.1
python-dateutil==2.8.1
pytz==2021.1
scikit-learn==0.22.1
scipy
six==1.15.0
joblib==1.0.1
Werkzeug==1.0.1
h5py==2.10.0
tensorflow==2.4.1
pillow==7.2.0
Keras==2.2.5
