{% extends "layout.html" %}

{% block body %}
<br>
<div class="container px-2 col-lg-6 col-sm-12">
    <h1 class="text-center">Diabetes Prediction</h1>
        <!-- Text Area -->
    		<form action="{{ url_for('predict_diabetes') }}" method="POST">
                <input class="form-input" type="text" name="pregnancies" placeholder="Number of Pregnancies eg. 0" required><br>
                <input class="form-input" type="text" name="glucose" placeholder="Glucose (mg/dL) eg. 80" required><br>
                <input class="form-input" type="text" name="bloodpressure" placeholder="Blood Pressure (mmHg) eg. 80" required><br>
                <input class="form-input" type="text" name="skinthickness" placeholder="Skin Thickness (mm) eg. 20" required><br>
                <input class="form-input" type="text" name="insulin" placeholder="Insulin Level (IU/mL) eg. 80" required><br>
                <input class="form-input" type="text" name="bmi" placeholder="Body Mass Index (kg/m²) eg. 23.1" required><br>
                <input class="form-input" type="text" name="dpf" placeholder="Diabetes Pedigree Function eg. 0.52" required><br>
                <input class="form-input" type="text" name="age" placeholder="Age (years) eg. 34" required><br>

        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    </div>
{% endblock %}