{% extends "layout.html" %}

{% block body %}
<br>
<div class="container">
    <h1 class="text-center mb-2 pb-2"><u>Heart Disease Prediction</u></h1>
</div>
    	<div class="container-castome mx-auto">
    		<form action="{{ url_for('predict_heart') }}" method="POST">
                <div class="form-group">
                    <label class="lb-lg">Age</label>
                    <input type="text" class="form-control" name="age" placeholder="Age (years) eg. 34">
                </div>
                
                <div class="form-group">
                    <label class="lb-lg">Sex</label>
                    <select class="form-control" name="sex">
                        <option value="0">Female</option>
                        <option value="1">Male</option>
                      </select>
                </div>
                                
                <div class="form-group">
                    <label class="lb-lg">Chest Pain</label>
                    <select class="form-control" name="chestpaintype">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                      </select>
                </div>
                
                <div class="form-group">
                    <label class="lb-lg">Trestbps</label>
                    <input type="text" class="form-control" name="trestbps" placeholder="Trestbps">
                </div>
                
                <div class="form-group">
                    <label class="lb-lg">Serum Cholestoral</label>
                    <input type="text" class="form-control" name="serumcholestoral" placeholder="Serum cholestoral in mg/dl">
                </div>
                
                <div class="form-group">
                    <label class="lb-lg">Restecg</label>
                    <input type="text" class="form-control" name="restecg" placeholder="Restecg">
                </div>

                <div class="form-group">
                    <label class="lb-lg">Thalach</label>
                    <input type="text" class="form-control" name="thalach" placeholder="Thalach">
                </div>

                <div class="form-group">
                    <label class="lb-lg">Exang</label>
                    <input type="text" class="form-control" name="exang" placeholder="Exang">
                </div>

                <div class="form-group">
                    <label class="lb-lg">Oldpeak</label>
                    <input type="text" class="form-control" name="oldpeak" placeholder="Oldpeak">
                </div>

                <div class="form-group">
                    <label class="lb-lg">Slope</label>
                    <input type="text" class="form-control" name="slope" placeholder="Slope">
                </div>

                <div class="form-group">
                    <label class="lb-lg">Thal</label>
                    <input type="text" class="form-control" name="thal" placeholder="Thal">
                </div>

                <div class="text-center mb-5 pb-4">
                    <input type="submit" class="my-cta-button" value="Predict">
                </div>
        	</form>
    	</div>

{% endblock %}