{% extends "layout.html" %}
{% block css %}
.card
{
margin-bottom:20px;
border-radius:10px;
height:auto;
max-height:56vh;
overflow:hidden;
}
.card:hover {
background-color:#87a4f6;
}
.card img {
border-radius:10px;
}
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
.card
{
margin-bottom:20px;
border-radius:10px;
height:auto;
max-height:55vh;
overflow:hidden;
}
}
{% endblock css %}
{% block body %}

<div class="container-fluid px-0 py-0">
  <img class="card-img-top" src="/static/bg_healthcheck.png" alt="">
</div>

<br>

<div class="container-fluid px-5 mb-3 pb-3">
  <div class="row">

    

    <div class="col-lg-3 col-md-4 col-sm-11">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='cancer_.png') }}" width="150" height="200" alt="">
        <div class="card-body">
          <h4 class="card-title">Cancer Prediction</h4>
          <h6 class="card-text"></h6>
        </div>
        <div class="card-footer">
          <a href="{{ url_for('cancer') }}" class="btn btn-primary">Take Test!</a>
        </div>
      </div>
    </div>



    
      

  </div>
</div>




{% endblock %}