<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Health Check</title>
  <link rel="icon" href="static/favicon.ico" type="image/gif" sizes="16x16">
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/style.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/darkmode.css">
  <style>
  {% block css %}{% endblock css %}
  </style>
</head>

<body>
    <input type="checkbox" id="toggle" name="checkbox" class="switch" onclick="myfun()">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg shadow fixed-top mynav">
    <div class="container">
      <a class="navbar-brand" href="/">Health Check</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
           <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Diseases
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/diabetes">Diabetes Prediction</a>
          <a class="dropdown-item" href="/heart">Heart Disease Prediction</a>
          <a class="dropdown-item" href="/cancer">Cancer Prediction</a>
          <a class="dropdown-item" href="/fetal_health">Fetal Health Prediction</a>
          <a class="dropdown-item" href="/malaria">Malaria Prediction</a>
        </div>
      </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
<br>
    
    {% block body %} {% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
      <div class="footer container-fluid fixed-bottom pt-4 pb-1 ">
        <p>Made with ❤ By Kritika Parmar<br>
        </p>
        <div class="rounded-social-buttons">
                    <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="social-button github" href="https://www.github.com/" target="_blank"><i class="fab fa-github"></i></a>
                    <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="social-button whatsapp" href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </div>
      </div>
    

    

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/darkmode.js"></script>
</body>

</html>
