{% extends "layout.html" %}

{% block body %}
<br>
<div class="container">
    <h1 class="text-center mb-2 pb-2"><u>Liver Disease Prediction</u></h1>

    <!-- Text Area -->
    <div class="container-castome mx-auto">
        <form action="{{ url_for('predict_liver_disease') }}" method="POST">

            <div class="form-group">
                <label class="lb-lg">Total_Protiens</label>
                <input type="text" class="form-control" name="total_Protiens" placeholder="Total_Protiens eg. 7.5">
            </div>
            
            <div class="form-group">
                <label class="lb-lg">Albumin</label>
                <input type="text" class="form-control" name="albumin" placeholder="Albumin eg.3.4">
            </div>
            
              <div class="form-group">
                <label class="lb-lg">Gender</label>
                <input type="text" class="form-control" name="gender" placeholder="Gender eg. 0=Female, 1=Male">
            </div>
            

            <div class="text-center mb-5 pb-4">
                <input type="submit" class="my-cta-button" value="Predict">
            </div>
        </form>
    </div>
</div>
{% endblock %}