{% extends 'layout.html' %}
{% block body %}
<script>
    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(500)
                        .height(500);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
{% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
<div class="row"  style="margin-bottom: 300px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <center><h1>Malaria Predictor</h1></center>
        <div class="card card-body">
            <center><h3>Please upload the image of the cell</h3></center>
            <form class="form-horizontal" action="{{ url_for('malariapredict') }}" method="POST" enctype="multipart/form-data">
                <center>
                <input onchange="readURL(this);" type="file" name="image" placeholder="Upload Image">
                <br>
                <br>
                    <h4>JPG format only. </h4>

                <br>
                <br>
                <input type="submit" class="btn-primary btn">
                </center>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}